.mtop {
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-box {
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
}

.daily-container {
    width: 30%;
    margin: 10px;
}

.content {
    font-size: 12px !important;
    text-align: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.worker-name {
    display: flex;
    justify-content: space-between;
}

.name {
    margin-left: 10px;
}

.delete-icon {
    margin-right: 10px;
}